{% extends "socialmedia/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block content %}


<div class="container-fluid">
    <div class="container form-post-container">
        <div class="card post-card">
            <div class="card-header">
                Edit Post
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="mb-3">
                            <div class="form-label post-label">
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                    {% if field.field.required %}
                                        <span class="text-danger">*</span>
                                    {% endif %}
                                </label>
                            </div>

                            {% if field.field.widget.input_type == "checkbox" %}
                                {{ field }}
                            {% else %}
                                {{ field|add_class:"form-control post-input" }}
                            {% endif %}

                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {{ field.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    <button type="submit" class="btn post-btn">Update Post</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
