Django==4.2.1
dj-database-url
python-dotenv
social-auth-app-django
social-auth-core
django-vote
django-widget-tweaks
Pillow
django-ckeditor
django-ipware
django-js-asset
django-sendgrid-v5
html2image
geoip2
segno
qrcode-artistic
pilgram
psycopg2-binary
