{% extends "users/base.html" %}

{% load static %}

{% block title %} Boys and Girls Club of Kings County {% endblock title%}

{% block content %}
<section id="hero" class="mb-2">

  <div class="container">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-md-auto">
            <img src="{% static 'users/images/bgckc_logo.png' %}" alt="Header Image" class="img-fluid w-100 w-md-auto img-custom-size">
        </div>
    </div>
  </div>
</section>

<section id="buttons" class="mt-2">
  
  <div class="container">
      <div class="row justify-content-center align-items-center">

          <div class="col d-flex flex-column align-items-center"> 
              <h4 class="mb-3 text-center" style="font-style: italic;">New Here?</h4>  
              <a href="{% url 'users-register' %}" class="col-md-12 btn btn-home h3">Create Your Account</a>
          </div>

          <div class="col d-flex flex-column align-items-center mt-5"> 
              <h4 class="mb-3 text-center" style="font-style: italic;">Returning?</h4>
              <a href="{% url 'login' %}" class="btn btn-home h3">LogIn with Username</a>
              <a href="{% url 'face_login' %}" class="btn btn-home h3 mt-2">LogIn with Facial Recognition</a>
          </div>
      </div>
  </div>
</section>



{% endblock content %}