{% extends "users/base_side_nav.html" %}

{% load static %}

{% block title %}Update Company Profile {% endblock title %}

{% block main_content %}

<div class="container my-3 p-3">
    <div class="row justify-content-center mt-4">
        <!-- Left Column -->
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5 custom-card-style">
                    <div class="card-header justify-content-center profile-header">
                        <h3 class="font-weight-light my-4 text-center">Update Company Profile</h3>
                    </div>
                <div class="card-body profile-card-body">
                    
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                <div class="card custom-card-style">

                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.comp.id_for_label }}">
                                {{ company_profile_form.comp.label_tag }}{% if company_profile_form.comp.field.required %}<span class="text-danger">*</span>{% endif %}
                                <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.comp.help_text }}">
                                    <i class="fas fa-question-circle"></i>
                                </span>
                            </label>
                            {{ company_profile_form.comp }}
                            {% if company_profile_form.comp.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.comp.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>

                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.company_website.id_for_label }}">
                                {{ company_profile_form.company_website.label_tag }}{% if company_profile_form.company_website.field.required %}<span class="text-danger">*</span>{% endif %}
                                <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.company_website.help_text }}">
                                    <i class="fas fa-question-circle"></i>
                                </span>
                            </label>
                            {{ company_profile_form.company_website }}
                            {% if company_profile_form.company_website.comp.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.company_website.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>

                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.company_logo.id_for_label }}">
                              {{ company_profile_form.company_logo.label_tag }}{% if company_profile_form.company_logo.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.company_logo.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.company_logo }}
                            {% if company_profile_form.company_logo.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.company_logo.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>
                    
                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_street1.id_for_label }}">
                              {{ company_profile_form.co_street1.label_tag }}{% if company_profile_form.co_street1.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_street1.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_street1 }}
                            {% if company_profile_form.co_street1.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_street1.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>

                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_street2.id_for_label }}">
                              {{ company_profile_form.co_street2.label_tag }}{% if company_profile_form.co_street2.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_street2.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_street2 }}
                            {% if company_profile_form.co_street2.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_street2.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>
                    

                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_city.id_for_label }}">
                              {{ company_profile_form.co_city.label_tag }}{% if company_profile_form.co_city.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_city.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_city }}
                            {% if company_profile_form.co_city.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_city.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>
                    

                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_state.id_for_label }}">
                              {{ company_profile_form.co_state.label_tag }}{% if company_profile_form.co_state.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_state.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_state }}
                            {% if company_profile_form.co_state.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_state.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>


                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_zip_code.id_for_label }}">
                              {{ company_profile_form.co_zip_code.label_tag }}{% if company_profile_form.co_zip_code.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_zip_code.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_zip_code }}
                            {% if company_profile_form.co_zip_code.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_zip_code.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>

                        
                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_phone.id_for_label }}">
                              {{ company_profile_form.co_phone.label_tag }}{% if company_profile_form.co_phone.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_phone.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_phone }}
                            {% if company_profile_form.co_phone.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_phone.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>
                        

                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_email.id_for_label }}">
                              {{ company_profile_form.co_email.label_tag }}{% if company_profile_form.co_email.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_email.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_email }}
                            {% if company_profile_form.co_email.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_email.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>


                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_fax.id_for_label }}">
                              {{ company_profile_form.co_fax.label_tag }}{% if company_profile_form.co_fax.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_fax.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_fax }}
                            {% if company_profile_form.co_fax.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_fax.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>
                  

                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_twitter.id_for_label }}">
                              {{ company_profile_form.co_twitter.label_tag }}{% if company_profile_form.co_twitter.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_twitter.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_twitter }}
                            {% if company_profile_form.co_twitter.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_twitter.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>


                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_facebook.id_for_label }}">
                              {{ company_profile_form.co_facebook.label_tag }}{% if company_profile_form.co_facebook.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_facebook.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_facebook }}
                            {% if company_profile_form.co_facebook.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_facebook.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>


                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_linkedin.id_for_label }}">
                              {{ company_profile_form.co_linkedin.label_tag }}{% if company_profile_form.co_linkedin.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_linkedin.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_linkedin }}                                  
                            {% if company_profile_form.co_linkedin.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_linkedin.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>


                        <div class="profile-form-field">
                            <label class="form-label" for="{{ company_profile_form.co_instagram.id_for_label }}">
                              {{ company_profile_form.co_instagram.label_tag }}{% if company_profile_form.co_instagram.field.required %}<span class="text-danger">*</span>{% endif %}
                              <span class="help-icon" data-bs-toggle="tooltip" title="{{ company_profile_form.co_instagram.help_text }}">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            </label>
                            {{ company_profile_form.co_instagram }}
                            {% if company_profile_form.co_instagram.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {% for error in company_profile_form.co_instagram.errors %}
                                        <strong>{{ error }}</strong>
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>

                        <!-- <div class="profile-form-field">
                            <label for="c_color" style="margin-bottom: 5px;">Company Profile Card Background Color:</label>
                            <input type="color" id="c-color" name="c-color" class="form-control" value="{{ selected_color_company }}" style="width: 150px; height: 50px">
                        </div> -->
                        
                        <!-- Hidden Field to Pass Color Selection-->
                        <div id="selected-color-company" data-color="{{ selected_color_company }}"></div>

                        <!-- <div class="profile-form-field">
                            <label for="colorCoHeader" style="margin-bottom: 5px;">Header Text Color:</label>
                            <input type="color" id="c-color-header" name="c-color-header" class="form-control" value="{{ selected_color_header_company }}" style="width: 150px; height: 50px">
                        </div> -->

                        <!-- Hidden Field to Pass Color Selection-->
                        <div id="selected-color-header-company" data-color-header="{{ selected_color_header_company }}"></div>

                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mt-1 mb-0">
                    <button type="submit" class="col-md-6 btn btn-profile-submit">Save & Continue</button>
                
                </div>
            </div>
        </div>
    </form>
</div>

{% include "users/company_profile_card.html" %} 
        
</div>
</div>


{% endblock %}
