{% extends "users/base.html" %}

{% load static %}

{% block title %} Verification Success {% endblock title %}

{% block content %}

<div class="form-content my-3 p-3">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">
                    <div class="card-header justify-content-center mintnft-header">
                        <h3 class="font-weight-light my-4 text-center">Verification Results</h3>
                    </div>
                    <div class="card-body mintnft-card-body">
                        <div class="row mb-4 align-items-center">
                            <div class="col-md-6 text-center">
                                <h4>WebCam Image</h4>
                                <div class="border border-success p-1" style="border-width: 3px;">
                                    {% if uploaded_with_landmarks_url %}
                                        <img src="{{ uploaded_with_landmarks_url }}" alt="WebCam Image" class="img-fluid" style="display: block; max-height: 300px;">
                                    {% else %}
                                        <p>No uploaded image available.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <h4>Minted NFT Image</h4>
                                <div class="border border-success p-1" style="border-width: 3px;">
                                    {% if verified_with_landmarks_url %}
                                        <img src="{{ verified_with_landmarks_url }}" alt="Minted NFT Image" class="img-fluid" style="display: block; max-height: 300px;">
                                    {% else %}
                                        <p>No minted NFT image available.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                
                        <div class="row mb-4">
                            <div class="col-12">
                                <h5 class="d-inline-block text-center">Face Encodings (partial) 
                                    <span class="help-icon" data-bs-toggle="tooltip" title="Face encodings are numerical representations of facial features used to compare and recognize faces.">
                                        <i class="fas fa-question-circle"></i>
                                    </span>
                                </h5>
                                <p>{{ partial_face_encodings }}</p>
                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="col-12">
                                <h5>Comparison Results</h5>
                                <p class="bg-light p-3 rounded">Match Result: {{ compare_faces_result }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2 ms-4 mb-4">
                <!-- Add a button to navigate to the user's profile page -->
                <a href="{% url 'create_personal_profile' %}" class="success-btn-continue btn btn-continue">Continue & Create Profile</a>
            </div>
        </div>
    </div>
</div>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>

{% endblock content %}
